#background {
	margin:50px;
    height: 600px;
    width: 800px;
}

#perso1_img{
	position:relative;
	top: 180px;
	left: 0px;
	width: 187px;
}
#perso2_img{
	position:relative;
	top: 180px;
	left: 187px;
	width: 187px;
}
#perso3_img{
	position:relative;
	top: 180px;
	left: 375px;
	width: 187px;
}
#perso4_img{
	position:relative;
	top: 180px;
	left: 562px;
	width: 187px;
}
.perso{
	position:absolute;
}

#container {
	position: relative;
	top: 400px;
	height: 200px;
	left: -5px;
	width:810px;
	background-color: rgba(255,255,255,0.5);
	border-top-style: solid;
	border-color: red;
	border-width: 10px;
}
#border {
	margin:50px;
	position: absolute;
	border-style: solid;
	border-width: 10px;
	border-radius: 20px;
	border-color: black;
	height: 600px;
	width: 800px;
	top: -10px;
	left: -2px;
}

#text_hold {
	display: none;
}

#text {
	margin: 20px;
	overflow: auto;
}

#button_play {
	margin:50px;
	display: block;
	position: absolute;
	height: 60px;
	background-color: red;
	width: 500px;
	left: 150px;
	top : 480px;
}

.popup{
	margin:50px;
	display: none;
	position: fixed;
	height: 600px;
	width: 800px;
	top:0px;
	background-color: purple;
	border-radius: 10px;
}