#background {
    height: 600px;
    width: 800px;
}
#perso1_img{
	position:relative;
	top: 180px;
	left: 0px;
	width: 187px;
}
#perso2_img{
	position:relative;
	top: 180px;
	left: 187px;
	width: 187px;
}
#perso3_img{
	position:relative;
	top: 180px;
	left: 375px;
	width: 187px;
}
#perso4_img{
	position:relative;
	top: 180px;
	left: 562px;
	width: 187px;
}
.perso{
	position:absolute;
}

#container {
	position: relative;
	top: 400px;
	height: 175px;
	left: 25px;
	width:750px;
	background-color: rgba(255,255,255,0.5);
	border-style: solid;
	border-color: red;
}

#text_hold {
	display: none;
}

#text {
	margin: 20px;
	overflow: auto;
}

#button_play {
	display: block;
	position: absolute;
	height: 60px;
	background-color: red;
	width: 500px;
	left: 150px;
	top : 480px;
}

.popup{
	display: none;
	position: fixed;
	height: 600px;
	width: 800px;
	left: 8px;
	top: 8px;
	background-color: purple;
}

#text_pop_hold{
	display: none;
}

.e1{
	position: relative;
	visibility: collapse;
}

#fleche_D{
	position: absolute;
	top: 50px;
	left: 740px;
	height: 60px;
	width: 60px;
}

#fleche_G{
	position: absolute;
	top: 50px;
	height: 60px;
	width: 60px;
}

#container_pop{
	position: relative;
	top: 400px;
	height: 175px;
	left: 25px;
	width:750px;
	background-color: rgba(255,255,255,0.5);
	border-style: solid;
	border-color: red;
}

#text_pop {
	margin: 20px;
	overflow: auto;
}